.dog{
    text-align: center;
}

.dog img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
}

.dog .save button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
}
