.Search{
    width: 100%;
    max-width: 550px;
    height: 50px;
    margin: auto;
    padding-top: 25px;
    
}

.Search .breed,
 .inputSearch, 
 .fonte,
 .color, 
 .buttonSearch{
    float: left;
    margin-left:5px;
}
